/* .contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  .contact-form {
    width: 90%;
    max-width: 450px;
    padding: 20px;
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 20px;
   
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
   
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #949191;
    border-radius: 5px;
    background-color:#fff0e5;
    
  }
  
  .form-group textarea {
    height: 100px;
    background-color:#fff0e5;
  }
  
  button[type="submit"] {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #3f4042;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; 
    display: block;
  }
  
  .contact-box {
    margin-top: 200px;
  }

  .contact-box p {
    text-align: center;
    font-size: 1.5rem;
  }

  .contact-box h2 {
    text-align: center;
  } */
  