.projects-container {
    margin-top: 200px;
    margin-bottom: 100px;
   }

.projects-container h1{
   text-align: center;
}

.projects-row {
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    gap:100px;
   
}

.projects {
    max-width: 450px;
    height: 300px;
   
}

.projects-image {
   max-width: 450px;
   height: 300px;
   border-radius: .5rem;
   position: relative;
}

.projects-image img {
    max-width: 450px;
    height: 300px;
    box-shadow: 2px 2px 4px rgb(49, 47, 47); 
    border-radius: .5rem;
  
}
 
.projects-image .front,
.projects-image .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  transition: transform 0.8s; 
   
}

.projects-image .front {
  transform: rotateY(0deg); 
}

.projects-image .back {
  transform: rotateY(180deg);
}

.projects-image.flip .front {
  transform: rotateY(-180deg); 
}

.projects-image.flip .back {
  transform: rotateY(0deg); 
}

.projects-image .back  {
    background-color:white;
    box-shadow: 2px 2px 4px rgb(49, 47, 47); 
    border-radius: .5rem;
}

.projects-image .back h3 {
    background-color:white;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
    
}

.projects-image .back p {
    background-color:white;
    padding: 10px;
    text-align: center;
}