.projects-container {
    margin-top: 200px;
    margin-bottom: 100px;
   }

.projects-container h1{
   text-align: center;
}

.projects-row {
    margin-top: 100px;
    display: flex;
    justify-content: center; 
    gap:100px;
   
}

.projects {
    max-width: 450px;
    height: 300px;
   
}

.projects-image {
   max-width: 450px;
   height: 300px;
}

.projects-image img {
    max-width: 450px;
    height: 300px;
    box-shadow: 4px 4px 8px rgb(49, 47, 47); 
  
}
 